
body {
    font-family: var(--font-family-sans);
    -webkit-text-size-adjust: 100%;
}

.home {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://plus.unsplash.com/premium_photo-1661883237884-263e8de8869b?q=80&w=2089&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.home-content {
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home h1 {
    display: flex;
    animation: slideInTitle 1.2s ease-out 0.3s both;
}

.home p {
    animation: slideInTitle 1.2s ease-out 0.6s both;
}

@media only screen and (max-width: 769px) { 
    .home-content {
        flex-direction: column;
        margin-bottom: 2rem;
    }

    .logo img {
        width: 150px;
    }
}