@import "tailwindcss";


:root {
    --font-family-sans: 'Open Sans', sans-serif;

    --color-bg-1: #1f2937;
    --color-bg-2: #374151;
    --color-bg-3: #374151;

}

@layer components {
    .btn-primary {

        border-radius: calc(infinity * 1px);
        background-color: var(--color-violet-500);
        padding: 1rem 2rem;
        font-weight: 500;
        color: var(--color-white);

        &:hover {
            @media (hover: hover) {
                background-color: var(--color-violet-700);
            }
        }
    }

    .title-primary {
        font-size: var(--font-size-6xl);
        font-weight: var(--font-weight-semibold);
        color: var(--color-white);
    }
}
